/*============================
#home_sol
============================*/
#home_sol {
}
#home_sol .base_width {
}
#home_sol .base_width h2.main_ttl {
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 50px;
    letter-spacing: 0.03em;
}
#home_sol .base_width p.txt {
}
